# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fat32format Old/
fat32Format/.vs/
fat32Format/fat32Format/Debug/
fat32Format/fat32Format/Release/
fat32Format/fat32Format/Win32/
fat32Format/fat32Format/x64/
fat32Format/Win32/
fat32Format/x64/
ntfsdump old/
ntfsdump/.vs/
ntfsdump/ntfsdump/Win32/
ntfsdump/ntfsdump/x64/
ntfsdump/x64/
ntfsdump/Win32/
pedump old/
pedump/.vs/
pedump/pedump/Win32/
pedump/pedump/x64/
